{{- /*gotype: git.kuschku.de/justjanne/imghost.ImageListData*/ -}}
{{define "title"}}My Images | ik8r{{end}}
{{define "content"}}
<div class="page image list">
{{range .Images}}
  <a class="image" href="/i/{{.Id}}">
    <div class="image-container">
      <img src="/{{.Id}}t.png">
    </div>
    <div class="info">
      <p class="title">
          {{- if eq .Title "" -}}
            <span class="placeholder">Unnamed</span>
          {{- else -}}
              {{.Title}}
          {{- end -}}
      </p>
      <p>{{.OriginalName}}</p>
            <p>
                <time>{{.CreatedAt.Format "2006-01-02 15:04"}}</time>
            </p>
            <p>{{.MimeType}}</p>
        </div>
    </a>
{{end}}
    <ul class="pagination">
        {{- if lt 0 .Previous -}}
            <li class="page">
                <a class="button" href="/me/images/1">First</a>
            </li>
            <li class="page">
                <a class="button" href="/me/images/{{- .Previous -}}">Previous</a>
            </li>
        {{- else -}}
            <li class="page">
                <a class="button" aria-disabled="true">First</a>
            </li>
            <li class="page">
                <a class="button" aria-disabled="true">Previous</a>
            </li>
        {{- end -}}
        <li class="page current">Page {{ .Current }}</li>
        <li class="page">
            <a class="button" href="/me/images/{{- .Next -}}">Next</a>
        </li>
        <li class="page">
            <a class="button" aria-disabled="true">Last</a>
        </li>
    </ul>
</div>
{{end}}
